.nav-item-mobile {
    margin-bottom: 2rem;
    font-size: var(--f-s-xxxl);
    font-weight: var(--f-bold);
}

.nav-item-desktop {
    font-size: var(--f-s-base);
}

.link {
    text-decoration: none;
    color: inherit;

    display: flex;
    align-items: center;
    gap: 4px;

    font-size: var(--f-s-sm);
}

.link.primary {
    color: var(--c-darkgray-800);
    background-color: var(--c-whywhite-300);
    border-radius: var(--border-radius-button);
    padding: 1rem 2rem 0.8rem;
    min-height: 56px;
    font-weight: var(--f-bold);
    text-transform: uppercase;

    position: relative;
}