.menu {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    padding: 3rem 0;

    --marquee-width: 100%;
    --offset: 10vw;
    --move-initial: calc(-20% + var(--offset));
    --move-final: calc(-40% + var(--offset));

    border-top: 1px solid var(--c-darkgray-400);
    border-bottom: 1px solid var(--c-darkgray-400);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.marquee {
    width: var(--marquee-width);
    overflow: hidden;
    pointer-events: none;
}

.marquee-inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 16s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}