.container {
    display: flex;
    flex-direction: column;
}

.image {
    aspect-ratio: 558 / 842;
    width: 320px;
    height: auto;
}


/* .container-personal-summary {} */

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }
}