.container {
    display: flex;
    flex-direction: column;
}

.container-spline-component {
    position: relative;
    top: -2rem;
}

/* .container-personal-summary {} */

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        gap: 2rem;
    }

    .container-personal-summary {
        margin-top: 3rem;
    }
}