.container {
    display: flex;
    flex-direction: column;
}

.personal-summary-container {
    position: relative;
    top: -2rem;
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        gap: 2rem;
    }

    .personal-summary-container {
        margin-top: 3rem;
        top: 0;
    }
}