.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;

  width: 100%;
  padding: 0 1rem;

  min-height: 86px;
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  font-size: var(--f-s-xl);
  font-weight: 1000;
}

.logo .link {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0 3rem;

    min-height: 86px;
  }
}
