.grain {
    z-index: -10;
    width: 100%;
    height: 100%;
    opacity: .1;
    mix-blend-mode: soft-light;
    background-image: url(https://assets-global.website-files.com/652943988e3ee9f9f3fa0dc9/652943988e3ee9f9f3fa0dcd_grain.gif);
    background-color: red;
    background-position: 0 0;
    display: block;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%
}