.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

    max-width: 780px;
    margin: 0 auto;

    background-color: var(--c-darkgray-700);

    border: 1px solid var(--c-darkgray-400);
    padding: 30px;

    border-radius: var(--main-border-radius);
}

.form> :nth-child(1),
.form> :nth-child(2) {
    grid-row: 1;
}

.form> :nth-child(n+3) {
    grid-column: span 2;
}

.list-services {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 12px;
    display: flex;
}

.item-list {
    padding: 1rem;

    border: 1px solid var(--c-darkgray-400);
}

.item-list:hover {
    border: 1px solid red;
}

.text-area {
    max-width: 100%;
    min-height: 150px;
    line-height: 1.8;
}

@media screen and (min-width: 768px) {
    .form {
        padding: 60px 30px;
    }

}