.input {
    border-radius: 8px;
    padding: 16px;
    min-height: 48px;
    margin-bottom: 24px;


    background-color: var(--c-darkgray-800);

    outline: none;

    border: 1px solid var(--c-darkgray-200);

    color: var(--c-whywhite-300);

    transition: all 0.2s ease-out;
}

.input:hover {
    background-color: var(--c-darkgray-600);
}