.input {
    border-radius: 8px;
    padding: 16px;
    min-height: 48px;
    margin-bottom: 24px;

    background-color: var(--c-darkgray-800);
    border: 1px solid var(--c-darkgray-300);
    color: var(--c-whywhite-300);

    outline: none;

    transition: all 0.2s ease-out;
}

.input:hover {
    background-color: var(--c-darkgray-700);
}

.input:focus {
    border: 1px solid var(--c-darkgray-100);
}