.redes {
    display: flex;
    flex-direction: column;

    position: absolute;
    right: 0;
    bottom: 0;
}

.redes .sub-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.redes .sub-2 {
    display: flex;
}

.redes a {
    display: grid;
    place-content: center;

    width: 44px;
    height: 44px;
    transition: all 0.2s ease-in;
}

.redes a svg {
    width: 32px;
    fill: var(--c-whywhite-300);
}

.redes .discord {
    background-color: rgb(0, 60, 255);
}

.redes .github {
    background-color: rgb(24, 22, 22);
}

.redes .twitter {
    background-color: #000000;
    border-radius: var(--main-border-radius) 0 0 0;
}

.redes .linkedin {
    background-color: #0a66c2;
    border-radius: var(--main-border-radius) 0 0 0;
}