.container {
    display: grid;
    grid-template-columns: 40% 60%;
    /* Primera columna: 40%, segunda columna: 60% */
    /* grid-gap: 10px; */
}

/* Estilos para ajustar el grid en dispositivos móviles */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        /* Cambia a dos filas en dispositivos móviles */
    }
}