.container {
    background-color: var(--c-darkgray-700);
    color: var(--c-whywhite-300);
    min-height: 60vh;

    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.sector {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    font-size: var(--f-s-md);
    font-weight: var(--f-bold);
}




@media screen and (min-width: 1120px) {
    .container {
        padding: 40px 120px;
    }
}