.container {
    height: calc(100dvh);
    background-image: url('/wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 2rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    position: relative;
}

.located-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: none;
    align-items: center;
    justify-content: space-between;

    background-color: color-mix(in srgb, var(--c-darkgray-700), transparent 30%);

    border: 1px solid var(--c-darkgray-500);
    box-shadow: 0 0.5rem 1rem -0.25rem rgba(0, 0, 0, 0.4);
    border-radius: 0 60px 60px 0;

    position: absolute;
    padding: 0.5rem 1rem 0.5rem 3rem;
    gap: 2rem;
    left: 0;
    top: calc(50% - 44px);
}

.located-container .located {
    display: flex;
    flex-direction: column;
}

.located-container .located .text {
    font-size: var(--f-s-sm);
    font-weight: var(--f-bold);
    color: var(--c-whywhite-700);
}

.located-container .cobe-container {
    width: 5rem;
    height: 5rem;
}

.content-container {
    display: flex;

    position: relative;
    z-index: 10;
}

.content-container .content {
    display: flex;
    flex-direction: column;
}

.content-container .content .arrow {
    position: relative;
    left: -8px;
}

/* .content-container .content .text {} */

.content-container .content .status {
    font-size: var(--f-s-base);
    color: var(--c-gray-300)
}

.content-container .content .title {
    font-size: var(--f-s-md);
    font-weight: var(--f-bold)
}

.scroll-down-container {
    cursor: pointer;
    position: absolute;
    bottom: 2rem;
    z-index: 10;

    display: none;
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    z-index: 5;

    width: 100%;
    height: 100%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.image {
    position: absolute;
    object-fit: cover;

    filter: drop-shadow(2px 4px 6px #080808);

    width: auto;
    height: 85%;

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (min-width: 992px) {
    .container {
        padding: 2rem 3rem;
        justify-content: center;
    }

    .located-container {
        display: flex;
    }

    .content-container {
        justify-content: flex-end;
        /* padding-bottom: 15vh; */
        padding-right: 6rem;
    }

    .content-container .content .arrow {
        margin-bottom: 3rem;
    }

    .scroll-down-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}