.container {
  display: grid;
  grid-template-columns: 1fr;
  /* gap: 20px; */
}

.paragraph {
  margin-bottom: 1.25rem;
  text-wrap: pretty;
  color: var(--c-whywhite-700);
}

@media screen and (min-width: 920px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
  }
}
