.container {
    z-index: 9876;
    width: 100%;
    height: 100vh;

    pointer-events: none;
    mix-blend-mode: difference;

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    inset: 0;
}

.circle {
    height: 42px;
    width: 42px;
    border-radius: 50%;

    position: absolute;
    top: -22px;
    left: -22px;

    pointer-events: none;

    border: 2px solid var(--c-whywhite-300);

    transition-timing-function: ease-out;
    transition-duration: 300ms;
}

.point {
    height: 6px;
    width: 6px;
    background-color: var(--c-whywhite-300);
    border-radius: 50%;

    position: absolute;
    top: -4px;
    left: -4px;

    pointer-events: none;

    transition-timing-function: ease-out;
    transition-duration: 100ms;
}

.container,
.circle,
.point {
    display: none;
}

@media screen and (min-width: 768px) {

    .container,
    .circle,
    .point {
        display: block;
    }
}