.container {
    width: 100%;
    min-height: 70vh;

    display: grid;
    grid-template-columns: 100%;
}

.container> :nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container> :nth-child(2) {
    display: none;
}

.title {
    letter-spacing: -.03ch;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 4rem;
    line-height: 1;
}

.description {
    font-size: var(--f-s-base);
}

@media (min-width: 992px) {
    .container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .container> :nth-child(2) {
        display: flex;
    }

    .container> :nth-child(2) img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--main-border-radius);
    }

    .title {
        font-size: 80px;
    }

    .description {
        font-size: 18px
    }
}