.container {
    width: 100%;
    min-height: auto;

    display: grid;
    grid-template-columns: 100%;
}

.container> :nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content .title {
    letter-spacing: -.03ch;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: var(--f-s-xxxl);
    line-height: 1;
    font-weight: var(--f-bold);
    text-wrap: balance;
}

.content .description {
    font-size: var(--f-s-base);
    margin-bottom: 0.7rem;
}

.container> :nth-child(2) {
    display: none;
}

@media (min-width: 992px) {
    .container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        min-height: 70vh;
    }

    .container> :nth-child(2) {
        display: flex;
    }

    .container> :nth-child(2) img {
        width: 100%;
        height: calc(70vh);
        object-fit: cover;
        border-radius: var(--main-border-radius);
    }

    .content .title {
        text-wrap: wrap;
    }
}