.container {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 12px;
    display: flex;
}

.item {
    padding: 16px;
    position: relative;
    cursor: pointer;
}

.div {
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-color: var(--c-darkgray-500);
    border-radius: 0.25rem;
    margin-top: 0;
    margin-left: 0;
    transition: border-color .35s, background-color .35s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.input:checked+.div {
    border-color: var(--c-darkgray-400);
    background-color: var(--c-darkgray-600);
}

.text {
    position: relative;
    font-size: var(--f-s-sm);
}

@media screen and (min-width: 920px) {
    .input:hover+.div {
        background-color: var(--c-darkgray-500);
    }

    .input:focus+.div {
        border-color: var(--c-darkgray-500);
    }
}