.nav-full-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: sticky;
    top: 80px;

    min-height: calc(100vh - 80px);

    background-color: rgba(1, 1, 1, 0.5);
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    margin-bottom: 2rem;
    font-size: var(--f-s-xxxl);
    font-weight: var(--f-bold);
}