.nav-full-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 80px;

    left: 0;
    right: 0;

    z-index: 1000;

    min-height: calc(100vh - 80px);

    background-color: rgba(1, 1, 1, 0.5);
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}