.card-connect {
    border: 1px solid red;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    padding: 4rem 0;

    border-radius: 0.875rem;
}

.helper-text {
    font-size: var(--f-s-base);
}

.title {
    font-size: var(--f-s-xl);
}