.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-projects {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(220px, auto);
  gap: 1rem;
}

.container-projects.is-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container-projects.is-list li {
  min-height: 96px;
}

@media screen and (min-width: 768px) {
  .container-projects {
    grid-auto-rows: minmax(420px, auto);
  }

  .container-projects.is-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .container-projects.is-list li {
    min-height: 120px;
  }
}
