.item {
    display: flex;

    border-bottom: 1px solid var(--c-darkgray-400);
    margin-bottom: 12px;
}

.link {
    text-decoration: none;
    color: inherit;

    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    transition: all 0.4s ease-out;
}

.image-container {
    min-width: 320px;
}

.image {
    width: 100%;
    object-fit: cover;
    border-radius: var(--main-border-radius);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: var(--f-s-md);
    font-weight: var(--f-bold);
    transition: all 0.2s ease-out;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1.2rem;
}

.tag {
    font-size: var(--f-s-sm);
    color: var(--c-gray-500);
}

@media screen and (min-width: 480px) {
    .link {
        flex-direction: row;
        gap: 1rem;
    }

    .image-container {
        width: 320px;
        height: 180px;
        overflow: hidden;
        border-radius: var(--main-border-radius);
    }

    .image {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 992px) {
    .content {
        gap: 8px;
    }

    .item {
        margin-bottom: 24px;
    }

    .item:hover .link {
        transform: translateX(32px);
    }

    .title {
        color: var(--c-gray-500);
    }

    .item:hover .title {
        color: var(--c-whywhite-300);
    }

    .item:hover .tag {
        color: var(--c-gray-300);
    }

    .item:hover .link .image-container img {
        transition: transform 0.2s;
        transform: scale(1.05);
    }

}