.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* .grid {
    background-color: red;
} */