:root {
  /* Font-size */
  --f-s-micro: clamp(0.64rem, 0.05vw + 0.63rem, 0.67rem);
  /* 10.24px */
  --f-s-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  /* 12.8px */
  --f-s-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  /* 16px */
  --f-s-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  /* 20px */
  --f-s-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  /* 24.96px */
  --f-s-xl: clamp(1.95rem, 1.57vw + 1.56rem, 2.81rem);
  /* 31.2px */
  --f-s-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  /* 39.04px */
  --f-s-xxxl: clamp(3.05rem, 3.55vw + 2.17rem, 5rem);
  /* 48.64px */

  /* Font-family */
  --f-f-primary: 'Inter', sans-serif;

  /* Font-weight */
  --f-regular: 400;
  --f-bold: 700;

  /* Colors */
  --c-whywhite-300: #F5FFFA;
  --c-whywhite-500: #efefef;
  --c-whywhite-700: #dcdcdc;

  --c-gray-300: #b4b4b4;
  --c-gray-400: #979797;
  --c-gray-500: #828282;

  --c-darkgray-50: #5e5e5e;
  --c-darkgray-100: #4d4d4d;
  --c-darkgray-200: #3e3e3e;
  --c-darkgray-300: #333333;
  --c-darkgray-400: #282828;
  --c-darkgray-500: #1e1e1e;
  --c-darkgray-600: #181818;
  --c-darkgray-700: #111111;
  --c-darkgray-800: #0e0e0e;

  --c-red-50: #fff0f0;
  --c-red-100: #ffdddd;
  --c-red-200: #ffc0c0;
  --c-red-300: #ff9494;
  --c-red-400: #ff5757;
  --c-red-500: #ff2323;
  --c-red-600: #ff0000;
  --c-red-700: #d70000;
  --c-red-800: #b10303;
  --c-red-900: #920a0a;
  --c-red-950: #500000;

  /* BorderRadius */
  --main-border-radius: .875rem;
  --border-radius-button: 6.25rem;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--c-red-600) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--c-red-600);
  border-radius: 2px;
}

body {
  background-color: var(--c-darkgray-800);
  color: var(--c-whywhite-300);
  font-family: var(--f-f-primary);
  line-height: 1.4;
  font-size: var(--f-s-base);

  /* cursor: none; */
  overflow-x: hidden;
}

::selection {
  background: var(--c-whywhite-300);
  color: var(--c-darkgray-800);
}