.container {
    background-color: var(--c-whywhite-300);
    color: var(--c-darkgray-800);

    min-height: 60vh;
    height: 100%;
    padding: 40px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container ::selection {
    background-color: var(--c-red);
}

.title {
    display: flex;
    flex-direction: column;
}

.title .hi {
    font-size: var(--f-s-xxl);
    font-weight: var(--f-bold);
}

.title .name {
    font-size: var(--f-s-xxl);
    font-weight: var(--f-bold);
}

.image-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.image {
    width: 100%;
    max-width: 320px;
    aspect-ratio: 1 / 1;
    align-self: center;
}

.image-caption {
    text-align: end;
    font-size: var(--f-s-sm);
}

/* .content {} */

.content a {
    color: var(--c-darkgray-800);
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.content .subtitle {
    font-size: var(--f-s-base);
    font-weight: var(--f-bold);
    margin-bottom: 0.5rem;
}

.content .description {
    font-size: var(--f-s-sm);
}

@media screen and (min-width: 1120px) {
    .container {
        padding: 40px 80px;
    }
}