.container {
    background-color: var(--c-whywhite-300);
    color: var(--c-darkgray-800);

    min-height: 60vh;
    height: 100%;
    padding: 40px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container ::selection {
    background-color: var(--c-red-600);
}

.title {
    display: flex;
    flex-direction: column;
}

.title .hi {
    font-size: var(--f-s-xl);
    font-weight: var(--f-bold);
}

.title .name {
    font-size: var(--f-s-xl);
    font-weight: 1000;
}

.image-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.image {
    width: 100%;
    /* max-width: 240px; */
    /* height: 360px; */
    /* aspect-ratio: 1 / 1; */
    align-self: center;
}

.image-caption {
    text-align: end;
    font-size: var(--f-s-sm);
}

.image-caption a {
    color: var(--c-darkgray-800);
    text-decoration: none;
}

.image-caption a:hover {
    text-decoration: underline;
}

.image-caption::selection,
.image-caption strong a::selection {
    background-color: rgb(191, 97, 214);
    color: var(--c-whywhite-300);
}

/* .content {} */

.content a {
    color: var(--c-darkgray-800);
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.content .subtitle {
    font-size: var(--f-s-base);
    font-weight: var(--f-bold);
}

.content .description {
    font-size: var(--f-s-sm);
}

@media screen and (min-width: 1120px) {
    .container {
        padding: 40px 80px;
    }
}