.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container>a:last-child {
    margin-top: 2rem;
    align-self: center;
}

@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        column-gap: 3.5rem;
        row-gap: 5rem;
    }

    .container>div:nth-child(1) {
        grid-column: 1/8;
        grid-row: 1/2;
    }

    .container>div:nth-child(1) a>div {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .container>div:nth-child(2) {
        grid-column: 8/13;
        grid-row: 0/1;
        padding-top: 5rem;
    }

    .container>div:nth-child(3) {
        grid-column: 1/6;
        grid-row: 2/3;
        padding-top: 5rem;
    }

    .container>div:nth-child(4) {
        grid-column: 6/13;
        grid-row: 2/3;
    }

    .container>div:nth-child(4) a>div {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .container>a:last-child {
        margin-top: 0;
        grid-column: 10/13;
        place-self: flex-end;
    }
}