.cursor {
    z-index: 9876;
    width: 100%;
    height: 100vh;

    pointer-events: none;
    mix-blend-mode: difference;

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.circle,
.center-point {
    display: none;
}

@media screen and (min-width: 768px) {

    .circle,
    .center-point {
        display: block;
    }
}