.item-list {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;

    border-bottom: 1px solid gray;
}

.count-desktop {
    display: none;
}

.count-mobile {
    display: block;
}

.title {
    font-size: var(--f-s-lg);
}

@media screen and (min-width: 992px) {
    .item-list {
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 0;
    }

    .title,
    .description {
        color: gray;
        /* VARIABLES, PLEASE */
    }

    .title,
    .content,
    .description {
        transition: transform 0.2s ease-out, color 0.4s ease-out, opacity 0.3s ease-out;
    }

    .description {
        opacity: 0;
        justify-self: start;
        max-width: 40ch;
    }

    .item-list:hover .title {
        transform: translateX(60px);
        color: white;
    }

    .item-list:hover .content {
        transform: translateX(-60px);
    }

    .item-list:hover .description {
        color: white;
        opacity: 1;
    }

    .content {
        display: flex;
        gap: 5rem;
        align-items: center;
    }

    .count-desktop {
        display: block;
    }

    .count-mobile {
        display: none;
    }
}