/* .nav {} */

.nav-list {
    display: flex;
    align-items: center;
}

.nav-mobile {
    display: block;
}

.nav-desktop {
    display: none;
}


@media screen and (min-width: 768px) {
    .nav-mobile {
        display: none;
    }

    .nav-desktop {
        display: block;
    }

    .nav-desktop .nav-list {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}