.container {
    height: calc(100dvh - 80px);
    background-image: url('/wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 2rem 1rem;

    display: flex;
    flex-direction: column;
}

.name {
    font-size: var(--f-s-xl);
    font-weight: var(--f-bold);
}

.title {
    font-family: "Bebas Neue", sans-serif;
    font-size: var(--f-s-xxxl);

}

.social-list {
    display: flex;
    gap: 1.5rem;

    margin-top: auto;
    align-self: flex-end;
}

@media screen and (min-width: 992px) {
    .container {
        padding: 2rem 3rem;
    }
}