.container {
    min-height: calc(100dvh - 80px);
    max-height: calc(100dvh - 80px);
    background-image: url('/wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 2rem 1rem;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 0.5rem;

    place-items: center;
}

.text {
    font-size: var(--f-s-xxxl);
}

.image-container {
    display: grid;
    place-content: center;

    overflow: hidden;
    max-height: 140px;
    border-radius: 80px;

    background-color: #12121205;
}

.image {
    height: 100%;
}

.image-container-1 {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

.text-1 {
    grid-column: 5 / 13;
    grid-row: 1 / 2;

    font-weight: var(--f-bold);
}

.text-2 {
    grid-column: 1 / 4;
}

.image-container-2 {
    grid-column: 4 / 13;
    grid-row: 2 / 3;

    border-top-right-radius: 0;
}


.image-container-3 {
    grid-column: 1 / 7;

    border-top-left-radius: 0;

}

.text-3 {
    grid-column: 7 / 13;
    grid-row: 3 / 4;

    font-weight: var(--f-bold);
}

@media screen and (min-width: 992px) {
    .container {
        padding: 2rem 3rem;
    }
}