.container {
    height: calc(100dvh - 80px);
    background-image: url('/wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 2rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    position: relative;
}

.content-container {
    display: flex;

    position: relative;
    z-index: 10;
}

.content-container .content {
    display: flex;
    flex-direction: column;
}

.content-container .content .arrow {
    position: relative;
    left: -8px;
}

/* .content-container .content .text {} */

.content-container .content .status {
    font-size: var(--f-s-base);
    color: var(--c-gray-300)
}

.content-container .content .title {
    font-size: var(--f-s-md);
    font-weight: var(--f-bold)
}

.image-container {
    position: absolute;
    top: -10%;
    left: 0;
    right: 0;

    z-index: 5;

    width: 100%;
    height: 110%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.image {
    position: absolute;
    object-fit: cover;

    width: auto;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (min-width: 992px) {
    .container {
        padding: 2rem 3rem;
        justify-content: center;
    }

    .content-container {
        justify-content: flex-end;
        padding-bottom: 15vh;
        padding-right: 6rem;
    }

    .content-container .content .arrow {
        margin-bottom: 3rem;
    }

}