.button {
    background-color: var(--c-whywhite-300);
    color: var(--c-darkgray-800);

    min-height: 32px;
    width: fit-content;
    font-size: var(--f-s-sm);
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;

    border: none;
    outline: none;
    cursor: pointer;
}

.button.primary {
    border-radius: var(--border-radius-button);
    padding: 1rem 2rem;
}

.button.small {
    min-height: 24px;
}

.button.medium {
    min-height: 44px;
}

.button.large {
    min-height: 52px;
}

.text {
    font-weight: var(--f-bold);
    text-transform: uppercase;
}

.icon {
    display: grid;
    place-content: center;
}

.left-icon {
    margin-left: 12px;
}

.right-icon {
    margin-right: 12px;
}

@media screen and (min-width: 920px) {
    .button:hover .icon {
        transition: transform 0.2s ease;
    }

    .button:hover .right-icon {
        transform: translateX(6px);
    }

    .button:hover .left-icon {
        transform: translateX(-6px);
    }
}