.container {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: stretch;
  display: grid;
}

.title {
  font-size: var(--f-s-base);
  font-weight: var(--f-bold);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 12px;
}

.description {
  font-size: var(--f-s-base);
  line-height: 1.2;
  text-wrap: balance;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tag {
  font-size: var(--f-s-base);
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 0.75fr;
  }
}
