.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1.5rem;

    align-items: flex-start;
    flex-direction: column;
}

.title {
    font-size: var(--f-s-xxxl);
}

.content {
    display: flex;
    flex-direction: column;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .content {
        flex-direction: row;
    }

    .header {
        align-items: end;
        flex-direction: row;
    }

    .images {
        gap: 2rem;
    }

    .image {
        width: 85%;
    }

}