.item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;

    padding: 1rem 2rem;
    border-radius: var(--main-border-radius);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    min-height: 32px;
}

.title {
    font-size: var(--f-s-sm);
    text-align: center;
    user-select: none;
    pointer-events: none;
}

@media screen and (min-width: 768px) {
    .item {
        flex-direction: row;
        gap: 1rem;
    }


    .item:hover .icon [fill] {
        fill: currentColor;
    }
}