.sector {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: var(--f-s-sm);
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 24px;
}

.list.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: auto;
    gap: 8px;
}

.list.flex {
    display: flex;
    flex-direction: column;
}